<!--<nav tuiTabs vertical="left" class="left">
  <button routerLink="data" routerLinkActive tuiTab>Мои данные</button>
  <button routerLink="history" routerLinkActive tuiTab>История проведения медицинской реабилитации</button>
  <button routerLink="program" routerLinkActive tuiTab>Программа реабилитации</button>
  <button routerLink="results" routerLinkActive tuiTab>Результаты реабилитации</button>
</nav>-->
<tui-tabs-with-more
  class="justify-center"
  [itemsLimit]="4"
  [(activeItemIndex)]="activeItemIndex"
>
  <button *tuiItem routerLink="data" routerLinkActive tuiTab>
    <tui-svg
      src="tuiIconHome"
      class="tui-space_right-2"
    ></tui-svg>
  </button>
  <button *tuiItem routerLink="history" routerLinkActive tuiTab>
    <tui-svg
      src="tuiIconClock"
      class="tui-space_right-2"
    ></tui-svg>
  </button>
  <button *tuiItem routerLink="program" routerLinkActive tuiTab>
    <tui-svg
      src="tuiIconBriefcase"
      class="tui-space_right-2"
    ></tui-svg>
  </button>
  <button *tuiItem routerLink="results" routerLinkActive tuiTab>
    <tui-svg
      src="tuiIconCheckSquare"
      class="tui-space_right-2"
    ></tui-svg>
  </button>
</tui-tabs-with-more>

