@import "@taiga-ui/core/styles/taiga-ui-local.less";

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.navigation {

}
