@import "@taiga-ui/core/styles/taiga-ui-local.less";

.content {
  display: flex;
  margin: 5% 20% 2% 0;
  padding-left: 10%;
}

.left {
  margin-right: 20%;
  min-width: 10%;
  width: 20%;
}

.right {
  margin-left: 2rem;
  min-width: 10rem;
  width: 10rem;
}

.wrapper {
  width: 1174px;
  margin: 0 auto;
}