<div class="tui-col_md-4">
  <a
    routerLink="/rehabilitation/program/module/:moduleId/anketa/:anketaId"
    rel="noreferrer"
    size="s"
    target="_blank"
    tuiIsland
    [hoverable]="true"
  >
    <div class="tui-island__content">
      <div>
        <h3 class="tui-island__title">Credit card</h3>
        <p class="tui-island__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </a>
</div>
