<tui-island>
  <ng-container *ngIf="exercise$ | async as ex; else loading">
    <label class="tui-text_h6">
      {{ex.name}}
    </label>
    <button
      size="m"
      tuiButton
      type="button"
      class="tui-space_bottom-4 tui-space_top-4"
      (click)="show()"
    >
      Посмотреть упражнение
    </button>
    <ng-template
      #preview
      let-preview
    >
      <tui-preview
        [rotatable]="false"
        [zoomable]="false"
      >
        <iframe
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          frameborder="0"
          src="{{ex.videoUrl}}"
          title="Youtube"
          class="content"
        ></iframe>
        <button
          icon="tuiIconClose"
          title="Close"
          tuiIconButton
          tuiPreviewAction
          type="button"
          (click)="preview.complete()"
        ></button>
      </tui-preview>
    </ng-template>
    <label class="mb-4"
           tuiLabel="Описание">
      {{ex.description}}
    </label>
    <label tuiLabel="Блок">
      {{ex.blockType}}
    </label>
  </ng-container>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</tui-island>
