<div class="tui-col_md-12">
  <a
    routerLink="/rehabilitation/program/module/:moduleId/exercise/:exerciseId"
    rel="noreferrer"
    size="l"
    target="_blank"
    tuiIsland
    [hoverable]="true"
  >
    <tui-avatar
      text="uni inter"
      class="tui-space_top-1"
      size="xxl"
    ></tui-avatar>
    <div class="tui-island__content">
      <div>
        <h3 class="tui-island__title">{{title}}</h3>
        <p class="tui-island__paragraph">
          {{description}}
        </p>
      </div>
    </div>
  </a>
</div>
