<!--TODO: сделать это for-->

<ng-container *ngFor="let q of questions">
<div class="tui-space_bottom-5">
  <h3 class="title">{{ q.value.answer || 'Вопрос 1' }}</h3>
  <form [formGroup]="q">
    <div
      orientation="vertical"
      tuiGroup
      class="group"
      [collapsed]="true"
    >
      <!--TODO: сделать это for,
      Noted: item='orange' это тоже надо изменять/менять-->
      <ng-container *ngFor="let an of answers">
        <tui-radio-block
          contentAlign="right"
          formControlName="answer"
          item="{{an}}"
          size="l"
        >
          {{ an || 'Ответ 1' }}
        </tui-radio-block>
      </ng-container>
      <!--<tui-radio-block
        contentAlign="right"
        formControlName="testValue"
        item="apple"
        size="l"
      >
        Ответ 2
      </tui-radio-block>
      <tui-radio-block
        contentAlign="right"
        formControlName="testValue"
        item="pineapple"
        size="l"
      >
        Ответ 3
      </tui-radio-block>-->
    </div>
  </form>
</div>
</ng-container>
