<!--TODO: сделать это for-->

<!--<ng-container *ngFor="let q of formsTest">-->
<div class="tui-space_bottom-5">
  <form [formGroup]="surveyForm">
    <h3 class="title"> {{ form.name }}</h3>
    <div
      class="group tui-space_bottom-5"
      *ngFor="let question of form.questions; let i = index"
      [formGroupName]="'question_'+question.id"
    >
      <h4 class="title">{{ question.content }}</h4>
      <div
        orientation="vertical"
        tuiGroup
        class="group"
        [collapsed]="true"
        *ngIf="question?.variants"
      >
        <ng-container *ngIf="question.type==='multiple_choice'">
          <div formArrayName="variants">
            <ng-container
              *ngFor="let variant of question.variants; let j = index"
            >
              <div [formGroupName]="j" tuiGroup>

                <tui-checkbox-block
                  contentAlign="right"
                  formControlName="answer"
                  size="l"
                >
                  {{ variant.content || 'Ответ 1' }}
                </tui-checkbox-block>
              </div>
            </ng-container>
          </div>
        </ng-container>

        <ng-container *ngIf="question.type==='single_choice'">
          <div formArrayName="variants">
            <div
              orientation="vertical"
              tuiGroup
              class="group"
              [collapsed]="true"
            >
              <ng-container
                *ngFor="let variant of question.variants; let j = index"
              >
                <!--<tui-radio-group [formGroupName]="j">
                  <tui-radio
                    formControlName="answer"
                    [item]="variant.content"
                    size="l"
                  >
                    {{ variant.content }}
                  </tui-radio>
                </tui-radio-group>-->
                <!--<tui-radio-labeled
                  formControlName="answer"
                  size="l"
                  class="tui-space_bottom-5"
                  (tuiValueChanges)="variant.id"
                  [item]="!variant.answer"
                >
                  {{variant.content}}
                </tui-radio-labeled>-->
                <!--<tui-radio-block
                  contentAlign="right"
                  formControlName="content"
                  [item]="variant.content"
                  size="l"
                >
                  {{ variant.content }}
                </tui-radio-block>-->
              </ng-container>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="question.type==='scale'">
          <!-- Для вопросов со шкалой -->
          <div formArrayName="variants">
            <ng-container
              *ngFor="let variant of question.variants; let j = index"
            >
              <div [formGroupName]="j" tuiGroup>
                <input
                  max="10"
                  size="s"
                  step="1"
                  tuiSlider
                  type="range"
                  [(ngModel)]="variant.content"
                />
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </form>
  <button
    tuiButton
    size="xl"
    appearance="primary"
    type="submit"
    (click)="sendSurvey()"
    class="w-full">
    Отправить
  </button>
</div>
