
<tui-island class="tui-space_bottom-5">
  <h3 class="tui-island__title">Разминочный блок</h3>
  <div class="container tui-space_bottom-4">
    <div class="tui-row">
<!--      TODO: for app-module-exercise необходимо сделать-->
      <app-module-exercise/>
    </div>
  </div>
  <h3 class="tui-island__title">Опросы</h3>
  <div class="container">
    <div class="tui-row">
      <!--      TODO: for app-module-anketa необходимо сделать-->
      <app-module-anketa/>
    </div>
  </div>
</tui-island>

<tui-island class="tui-space_bottom-5">
  <h3 class="tui-island__title">Основной блок</h3>
  <div class="container tui-space_bottom-4">
    <div class="tui-row">
      <!--      TODO: for app-module-exercise необходимо сделать-->
      <app-module-exercise/>
    </div>
  </div>
  <h3 class="tui-island__title">Опросы</h3>
  <div class="container">
    <div class="tui-row">
      <!--      TODO: for app-module-anketa необходимо сделать-->
      <app-module-anketa/>
    </div>
  </div>
</tui-island>

<tui-island class="tui-space_bottom-5">
  <h3 class="tui-island__title">Завершающий блок</h3>
  <div class="container tui-space_bottom-4">
    <div class="tui-row">
      <!--      TODO: for app-module-exercise необходимо сделать-->
      <app-module-exercise/>
    </div>
  </div>
  <h3 class="tui-island__title">Опросы</h3>
  <div class="container">
    <div class="tui-row">
      <!--      TODO: for app-module-anketa необходимо сделать-->
      <app-module-anketa/>
    </div>
  </div>
</tui-island>
