<tui-island class="anketa tui-space_bottom-5">
  <ng-container *ngIf="form$ | async as f; else loading">
    <div tuiHeader="l">
      <div class="tui-space_bottom-3 tui-text_h6">
        <h1 tuiTitle>
          {{ f.name }}
          <span class="tui-text_body-l" tuiSubtitle>{{ f.description }}</span>
        </h1>
      </div>
    </div>
    <!--<div *ngFor="let item of items">
      <app-anketa-table [anketa]="item"/>
    </div>-->
    <app-anketa-table [form]="f"/>
  </ng-container>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</tui-island>
