<div class="empty-state">
  <tui-island class="tui-space_bottom-5">
    <div class="empty-state__content">
      <!--            <tui-svg src="icons8-user-not-found.png" class="empty-state__icon"></tui-svg>-->
      <img ngSrc="../../../../assets/no-data.jpg" class="empty-state__icon" alt="" height="2000" width="2000"/>
      <h3 class="empty-state__title">😢Что-то пошло не так..😢</h3>
      <p class="empty-state__message">В данный момент здесь отсутствуют упражнения и опросы.</p>
      <p class="empty-state__message">Пожалуйста, подождите, пока модуль заполнится, или обратитесь к врачу.</p>
    </div>
  </tui-island>
</div>
