

<div class="body">
  <div class="top-container">
    <div class="organization-container">
      <div class="organization-label">НАЗВАНИЕ ОРГАНИЗАЦИИ</div>
      <img class="logo" [src]="logo_im" alt="Organization Logo">
    </div>
    <app-backend-errors-messages
      *ngIf="backendErrors$ | async"
      [backendErrors]="backendErrors$ | async"
    />
    <form
      class="login-container"
      [formGroup]="authForm"
      (ngSubmit)="onSubmit()"
    >
      <tui-input class="w-full p-3" formControlName="username">
        Логин
        <input
          tuiTextfield
          type="text"
          formControlName="username"
        />
      </tui-input>
      <tui-input class="w-full p-3" formControlName="password">
        Пароль
        <input
          tuiTextfield
          type="password"
          formControlName="password"
        />
      </tui-input>
      <button
        class="w-56"
        appearance="custom"
        tuiButton
        type="submit"
        [disabled]="(isSubmitting$ | async)!"
      >
        Войти
      </button>
    </form>
  </div>
</div>
