<tui-island>
  <ng-container *ngIf="formsShort$ | async as forms; else loading">
    <ng-container *ngFor="let f of forms; index as i">
      <div class="container tui-space_bottom-4">
        <div class="tui-row">
          <div class="tui-island__content">
            <app-module-anketa
              [id]="f.moduleFormId"
              [moduleId]="moduleId"
              [title]=f.name
              [description]=f.description
            />
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</tui-island>
