<tui-island class="rod-island-program-page">
  <ng-container *ngIf="rehabProgram$ | async as rehabProgram; else loading">
    <ng-container *ngIf="rehabProgram.programFormResponses[0] as prForm0">
      <app-card-anketa-module [programForm]="prForm0"></app-card-anketa-module>
    </ng-container>

    <tui-accordion class="tui-space_bottom-5 ">
      <tui-accordion-item [open]="true">
        <h3 class="font-bold">Мероприятия медицинской реабилитации</h3>
        <tui-badge
          [status]="isModulesFinished(rehabProgram.moduleShortResponses) ? 'success' : 'info'"
          [value]="isModulesFinished(rehabProgram.moduleShortResponses) ? 'Успешно' : 'Не пройдено'"
          class="tui-space_right-2 tui-space_bottom-2"
        ></tui-badge>

        <ng-template tuiAccordionItemContent>
          <ng-container *ngFor="let m of rehabProgram.moduleShortResponses">
            <tui-island class="tui-space_bottom-2">
              <div class="module-content">
                <div class="module-content-text-badge">
                  <span class="module-text">{{ m.name }}</span>
                  <tui-badge
                    [status]="isModuleFinished(m) ? 'success' : 'info'"
                    [value]="isModuleFinished(m) ? 'Успешно' : 'Не пройдено'"
                    class="tui-space_right-2 tui-space_bottom-2"
                  ></tui-badge>
                </div>
                <button
                  size="m"
                  appearance="primary"
                  tuiButton
                  type="button"
                  (click)="sendModuleId(m.id)"
                  routerLink="/rehabilitation/program/modules/{{m.id}}"
                >
                  Перейти
                </button>
              </div>
            </tui-island>
          </ng-container>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>

    <ng-container *ngIf="rehabProgram.programFormResponses[1] as prForm1">
      <app-card-anketa-module [programForm]="prForm1"></app-card-anketa-module>
    </ng-container>
    <label class="tui-space_bottom-3"
           tuiLabel="Дата начала программы"
    >
      {{ stringFyDate(rehabProgram.startDate) }}
    </label>
    <div *ngIf="rehabProgram.endDate!= null">
      <label class="tui-space_bottom-3"
             tuiLabel="Дата окончания программы"
      >
        {{ stringFyDate(rehabProgram.endDate) }}
      </label>
    </div>
  </ng-container>
  <ng-template #loading>
    <app-loading/>
  </ng-template>
</tui-island>
