<tui-island class="rod-island-program-page">
  <ng-container *ngIf="rehabProgram$ | async as rehabProgram; else loading">
    <ng-container *ngIf="rehabProgram.programFormResponses[0] as prForm0">
      <tui-island class="tui-space_bottom-5">

        <h3 class="tui-island__title">{{ prForm0.typeName }} </h3>
        <p class="tui-island__paragraph tui-space_bottom-3">
          {{ prForm0.name }}
        </p>
        <p class="tui-island__paragraph tui-space_bottom-3">
          {{ prForm0.description }}
        </p>
        <button
          class="tui-space_bottom-3"
          size="m"
          appearance="primary"
          tuiButton
          type="button"
          [disabled]="prForm0.finishedAt != null"
          (click)="goToNextPage(prForm0.id)"
        >
          Перейти
        </button>
        <div *ngIf="prForm0.finishedAt != null">
          <label class="tui-space_bottom-3"
                 tuiLabel="Дата окончания"
          >
            {{ stringFyDate(prForm0.finishedAt) }}
          </label>
        </div>
      </tui-island>
    </ng-container>

    <tui-accordion class="tui-space_bottom-5 ">
      <tui-accordion-item [open]="true">
        <h3 class="font-bold">Мероприятия медицинской реабилитации</h3>
        <tui-badge
          [status]="isModulesFinished(rehabProgram.moduleShortResponses) ? 'success' : 'info'"
          [value]="isModulesFinished(rehabProgram.moduleShortResponses) ? 'Успешно' : 'Не пройдено'"
          class="tui-space_right-2 tui-space_bottom-2"
        ></tui-badge>

        <ng-template tuiAccordionItemContent>
          <ng-container *ngFor="let m of rehabProgram.moduleShortResponses">
            <tui-island class="tui-space_bottom-2">
              <div class="module-content">
                <div class="module-content-text-badge">
                  <span class="module-text">{{ m.name }}</span>
                  <tui-badge
                    [status]="isModuleFinished(m) ? 'success' : 'info'"
                    [value]="isModuleFinished(m) ? 'Успешно' : 'Не пройдено'"
                    class="tui-space_right-2 tui-space_bottom-2"
                  ></tui-badge>
                </div>
                <button
                  size="m"
                  appearance="primary"
                  tuiButton
                  type="button"
                  (click)="sendModuleId(m.id)"
                  routerLink="/rehabilitation/program/modules/{{m.id}}"
                >
                  Перейти
                </button>
              </div>
            </tui-island>
          </ng-container>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>

    <ng-container *ngIf="rehabProgram.programFormResponses[1] as prForm1">
      <tui-island class="tui-space_bottom-5">
        <h3 class="tui-island__title">{{ prForm1.typeName }} </h3>
        <p class="tui-island__paragraph tui-space_bottom-3">
          {{ prForm1.name }}
        </p>
        <p class="tui-island__paragraph tui-space_bottom-3">
          {{ prForm1.description }}
        </p>
        <button
          class="tui-space_bottom-3"
          size="m"
          appearance="primary"
          tuiButton
          type="button"
          [disabled]="visiblePrimaryAnketa"
          (click)="goToNextPage(prForm1.id)"
        >
          Перейти
        </button>
        <label class="tui-space_bottom-3"
               tuiLabel="Дата окончания"
        >
          {{ stringFyDate(prForm1.finishedAt) }}
        </label>
      </tui-island>
    </ng-container>
    <label class="tui-space_bottom-3"
           tuiLabel="Дата начала программы"
    >
      {{ stringFyDate(rehabProgram.startDate) }}
    </label>
    <label class="tui-space_bottom-3"
           tuiLabel="Дата окончания программы"
    >
      {{ stringFyDate(rehabProgram.endDate) }}
    </label>
  </ng-container>
  <ng-template #loading>
    <app-loading/>
  </ng-template>
</tui-island>
