.module-content {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.module-text {
  margin-right: auto; /* Задайте нужное значение отступа между текстом и кнопкой */
}

.module-content-text-badge{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
