<tui-island class="tui-space_bottom-5">
  <h3 class="tui-island__title">{{ programForm.typeName }} </h3>
  <p class="tui-island__paragraph tui-space_bottom-3 tui-text_body-xl">
    {{ programForm.name }}
  </p>
  <label class="tui-island__paragraph tui-space_bottom-3 tui-text_body-m">
    {{ programForm.description }}
  </label>
  <div class="flex flex-col flex-nowrap justify-center items-stretch">
    <button
      class="tui-space_bottom-3 button-program-form"
      size="xl"
      appearance="primary"
      tuiButton
      type="button"
      [style.display]="programForm.finishedAt != null ? 'none' : 'flex'"
      (click)="goToNextPage(programForm.id)"
    >
      Перейти
    </button>
    <div *ngIf="programForm.finishedAt  != null">
      <button
        size="xl"
        tuiButton
        type="button"
        class="tui-space_right-2 tui-space_bottom-2"
        (click)="onClick(content, header, 'l')"
      >
        Показать ответы
      </button>
      <ng-template
        #content
        let-observer
      >
        Take a look
        <div class="buttons">
          <button
            size="m"
            tuiButton
            type="button"
            (click)="observer.complete()"
          >
            Very cool!
          </button>
        </div>
      </ng-template>

      <ng-template #header>
        <div class="header">
          <img
            alt="Cool"
            src="https://ng-web-apis.github.io/dist/assets/images/web-api.svg"
          />
        </div>
      </ng-template>
    </div>
  </div>
  <div *ngIf="programForm.finishedAt != null">
    <label class="tui-space_bottom-3"
           tuiLabel="Дата прохождения"
    >
      {{ stringFyDate(programForm.finishedAt) }}
    </label>
  </div>
</tui-island>
