<div class="tui-space_bottom-5">
  <form [formGroup]="surveyForm">
    <div class="tui-space_bottom-5"
         *ngFor="let question of form.questions; let i = index"
         [formGroupName]="'question_'+question.id"
    >
      <h4 class="tui-text_body-xl">{{ question.content }}</h4>
      <div orientation="vertical" tuiGroup class="group all-choice"
           [collapsed]="true"
           *ngIf="question?.variants"
      >
        <!--        Множество-->
        <ng-container *ngIf="question.type === QuestionType.MULTIPLE_CHOICE">
          <div orientation="vertical" tuiGroup
               class="group many-choice"
               [collapsed]="true"
               formArrayName="variants"
          >
            <ng-container
              *ngFor="let variant of question.variants; let j = index"
              [formGroupName]="j">
              <tui-checkbox-block
                contentAlign="right"
                formControlName="answer"
                class="container"
                size="l"
              >
                {{ variant.content || 'Ответ 1' }}
              </tui-checkbox-block>
            </ng-container>
          </div>
        </ng-container>
        <!-- Один из нескольких -->
        <ng-container *ngIf="question.type=== QuestionType.SINGLE_CHOICE">
          <div orientation="vertical" tuiGroup class="group"
               [collapsed]="true"
               formGroupName="variants"
          >
            <ng-container *ngFor="let variant of question.variants; let j = index">
              <tui-radio-block
                class="container"
                contentAlign="right"
                size="l"
                formControlName="id"
                [item]="variant.id"
              >
                {{ variant.content }}
              </tui-radio-block>
            </ng-container>
          </div>
        </ng-container>
        <!-- Для вопросов со шкалой -->
        <ng-container *ngIf="question.type === QuestionType.SCALE" style="display: block">
          <div formGroupName="variants" style="display: block">
            <input size="m" tuiSlider type="range"
                   formControlName="score"
                   [max]="maxScoreVariants"
                   [min]="1.00"
                   [segments]="lengthVariants - 1"
                   [step]="1.00"/>
            <div class="ticks-labels">
              <button class="tick-label" type="button"
                      *ngFor="let variant of question.variants"
                      (click)="scalePatchValue(variant)"
              >
                <label tuiLabel="{{variant.score}}">{{ variant.content }}</label>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </form>
  <button class="w-full" tuiButton size="xl"
          appearance="primary"
          type="submit"
          (click)="showDialog(template)"
  >
    Отправить
  </button>
  <ng-template
    #template
    let-observer
  >
    <h1 class="tui-space_bottom-3">Подверждение</h1>
    <p class="tui-space_bottom-3">Убедитесь в правильности введенных данных</p>
    <button
      size="m"
      tuiButton
      type="button"
      class="tui-space_right-3"
      (click)="sendSurvey(); observer.complete()"
    >
      OK
    </button>
    <button
      size="m"
      tuiButton
      appearance="accent"
      type="button"
      (click)="observer.complete()"
    >
      Отменить
    </button>
  </ng-template>
</div>
