<ng-container *ngIf="exercisesShort$ | async as exercisesShort">
  <div class="container tui-space_bottom-4">
    <div class="tui-row">
      <ng-container *ngFor="let ex of exercisesShort">
        <div class="tui-island__content">
          <app-module-exercise
            class="max-w-min"
            [id]="ex.moduleExId"
            [moduleId]="moduleId"
            [name]=ex.name
            [description]=ex.description
          />
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
